VITE_SUPABASE_URL=https://ittjdadhzzieregopwba.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0dGpkYWRoenppZXJlZ29wd2JhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU0ODY0NDMsImV4cCI6MjA3MTA2MjQ0M30.yQxmjCZfo8SRCqpdogwys0DTefETUbixIUmWWhCPaMM